<div class="series-carousel--title">{{title}}</div>
{{#if (and isSelected (not-eq type 'stream'))}}
  <div class="series-carousel--count">{{add selectedItemIndex 1}} of {{items.length}}</div>
{{/if}}
<div class="series-carousel--episodes">
  {{#each items as |series index|}}
    {{thumbnail-image scrollableElement=element isSelected=(and (eq selectedItemIndex index) isSelected) thumbnail=series.thumbnail index=index numberOfSeries=numberOfSeries selectedItemIndex=selectedItemIndex}}
  {{/each}}
</div>
