<div class="series-carousel--title">{{series.title}}</div>
<div class="series-carousel--episodes">
    {{#each series.episodes as |episode index|}}
      {{series-carousel/episode-thumbnail episodeIsSelected=(and (eq selectedEpisodeIndex index) seriesIsSelected) episode=episode index=index numberOfEpisodes=numberOfEpisodes selectedEpisodeIndex=selectedEpisodeIndex}}
    {{/each}}
</div>
