.app-home-screen {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
  background: url("../images/background.jpg") no-repeat;
}

.app-top-bar {
  position: fixed;
  width: 100%;
  height: 290px;
  background: url("../images/background.jpg") no-repeat;
  z-index: 10;
  box-shadow: 0 7px 25px 0 rgba(0,0,0,0.75);

  .series-information {
    position: absolute;
    top: 5em;
    left: 4em;
    text-align: left;
    padding: 1em 1em 0;
    color: #fff;

    .title {
      font-size: 29pt;
    }

    .description {
      font-size: 18pt;
    }
  }
}

.app-logo {
  position: absolute;
  bottom: -80px;
  right: 150px;
}

.content-load-splash {
  width: 100%;
  height: 100%;
  background: url("../images/splash.jpg") no-repeat;
}
