.video-rows {
  top: 300px;
  position: absolute;
}

.shoveler-row-container {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &--title {
    color: #fff;
    font-weight: bold;
    padding-left: 4em;
    padding-bottom: 0.5em;
  }
}

.shoveler-rowitem-static {
  position: absolute;
  height: 200px;
  left: 4em;
  -webkit-transition-property: -webkit-transform opacity;
  -moz-transition-property: -moz-transform opacity;
  transition-property: transform opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;

  .title {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-size: 16pt;
    padding: 0.5em;
    font-weight: bold;
  }

  img {
    height: 100%;
    display: inline-block;
  }
}

.shoveler-rowitem-selected img {
  background-blend-mode: overlay;
  display: inline-block;
  box-shadow: 0 0 0 7px #cbdb2f;
}

.one-D-details-container {
  width: 100%;
  margin: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition-property: visibility;
  -moz-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

.one-D-shoveler-container {
  left: 0;
  width: 100vw;
  height: 215px;
  z-index: 20;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-property: -webkit-transform opacity;
  -moz-transition-property: -moz-transform opacity;
  transition-property: transform opacity;
  -webkit-transition-property: -webkit-transform visibility;
  -moz-transition-property: -moz-transform visibility;
  transition-property: transform visibility;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}
