@import "reset";
@import "video-carousel";
@import "player";
@import "modal";
@import "home-screen";
@import "series-screen";
@import "live-stream-button";

.app-overlay-message {
  color: #e8e8e8;
  text-align: center;
  margin-top: 25%;
}
