@import "reset";
@import "video-carousel";
@import "player";
@import "modal";
@import "container";

.one-d-no-items-container {
  position: absolute;
  display: none;
  top: 300px;
  left: 200px;
  color: #e8e8e8;
  font-size: 3em;
}

.subcategory-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

.one-D-details-summary-text {
  position: absolute;
  top: 690px;
  width: 80%;
  left: 150px;
  color: #e8e8e8;
}

.one-D-details-summary-text .one-D-summary-title {
  line-height: 1.4;
  color: #515151;
  font-size: 1.8em;
  font-family: "Helvetica Neue Medium", "HelveticaNeue-Medium", Helvetica, Arial, sans-serif;
  height: 62px;
  overflow: hidden;
  margin-top: 10px;
  display: -webkit-box;
  /* NEW - Chrome */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: box;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  line-clamp: 1;
}

.one-D-details-summary-text .one-D-summary-pubdate {
  font-weight: 200;
  height: 30px;
  font-size: 1em;
  color: #3a3a3a;
}

.one-D-details-summary-text .one-D-summary-pubdate .time-now-live {
  color: #FF704D;
}

.one-D-details-summary-text .one-D-summary-pubdate .time-upcoming {
  color: #66E066;
}

.one-D-details-summary-text .one-D-summary-description {
  color: rgba(0, 0, 0, 0.56);
  font-style: italic;
  font-size: 1.1em;
  overflow: hidden;
  align-items: center;
  display: -webkit-box;
  /* NEW - Chrome */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: box;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
}

.one-D-details-summary-text .one-D-live-icon {
  background-image: url("images/live.png");
  height: 44px;
  width: 93px;
  background-position-y: 5px;
  margin-right: 15px;
  background-repeat: no-repeat;
}

.detail-row-container-buttons {
  height: 75px;
  margin: 20px 0;
}

.detail-item-button,
.detail-item-button-selected,
.detail-item-button-static {
  position: relative;
  width: 315px;
  height: 73px;
  padding: 15px;
  float: left;
  font-size: 1.4em;
  margin-right: 20px;
  text-align: center;
  border: 1px solid transparent;
}

.detail-item-button-selected {
  overflow: hidden;
  margin-top: 0;
  color: #e8e8e8;
  background-color: #000000;
  border: solid;
  border-color: #dadada;
  border-width: 1px;
  -webkit-box-shadow: 0 10px 18px 3px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0 10px 18px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 0 10px 18px 3px rgba(0, 0, 0, 0.44);
}

.detail-item-button-static {
  color: #b9bbbd;
  background-color: #394149;
  line-height: 45px;
}

.shoveler-dynamic-row-container {
  position: absolute;
  width: 1000%;
  height: 100%;
  left: 200px;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

.shoveler-subcat-bg {
  width: 91px;
  height: 100%;
  margin-left: -10px;
  display: inline-block;
  background-image: url("images/bg_subcat.png");
}

.app-overlay-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #000000;
}

.app-overlay-message {
  color: #e8e8e8;
  text-align: center;
  margin-top: 25%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
  .player-controls-button-back {
    position: absolute;
    display: block;
    float: left;
    top: 10px;
    left: 30px;
  }

  .detail-row-container-buttons {
    bottom: 10px;
  }
}
