{{app-header episode=selectedEpisode}}
<div class="video-rows">
  {{#each seriesList as |series index|}}
    {{series-carousel seriesIsSelected=(eq index selectedSeriesIndex) selectedEpisodeIndex=(if (eq index selectedSeriesIndex) selectedEpisodeIndex 0) series=series selectEpisode=(action 'selectEpisode') playVideo=(action 'playVideo')}}
  {{/each}}
</div>
