<div class="next-video-text">UP NEXT</div>
<div class="next-video-title">{{episode.title}}</div>
<div class="next-video-description">{{episode.shortDescription}}</div>
<div class="next-video-thumbnail"><img src="{{episode.thumbnail}}"></div>
<div class="next-video-playingtext">
  Playing in
  <span class="next-video-starttext">{{secondsLeft}} </span> seconds
</div>
