{{#if loading}}
  <div class="content-load-spinner"></div>
{{/if}}
{{video-player/video src=videoURL canPlay='videoCanPlay' ended='videoEnded' timeUpdate='videoTimeUpdated' videoStartedLoading='videoStartedLoading'}}
{{video-player/info-display interacting=interacting currentTime=currentTime totalTime=totalTime title=title description=description}}
